body {
    background-color: rgba(203, 203, 203, 0.938);

}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.bold {
    font-weight: bold;
}

.container {
    position: relative;
    margin: 2%;
    padding: 3%;
    background-color: #fff;
    border-radius: 20px;
}

/* cabeçalho */
.cabecalho {
    text-align: center;
}

.main-title {
    font-size: 160%;
}

.main-text {
    font-style: italic;
}


/* imagem principal */
.img {
    width: 60%;
    margin-top: 3%;
}

.img-central {
    text-align: center;
}

.principal-text {
    padding: 2% 0;
    margin: 2% 0;
    border-top: 2px dashed rgb(114, 133, 255);
    border-bottom: 2px dashed rgb(114, 133, 255);
}

.quotes-container {
    background-color: rgb(213, 234, 255);
    padding: 2%;
}

.quotes-container blockquote {
    font-size: 200%;
    font-weight: bold;
}

.quotes-container p {
    font-style: italic;
}